@charset "UTF-8";
/* 
筑波大学 芸術祭 2021
TSUKUBA ART & DESIGN FESTIVAL 2021
by 長谷川泰斗
*/

$red: #FF0000;
$green: #00FF00;
$blue: #0000FF;
$black: #000000;
$white: #FFFFFF;


body {
    font-family: 太ゴB101;
    background-color: $black;
}

.x-scroll-container {
    height: 100vh;
    background-color: $white;
    display: flex;
    width: auto;
    overflow-x: scroll;
}

.side-bar {
    width: 240px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 64px;
}

.top-logo {
    display: flex;

    a {
        margin: 16px;
        img {
            width: 100%;
        }
    }
}

.level-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin: 24px;
        background-color: $red;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        text-decoration: none;
        color: $white;
    }

    img {
        height: 16px;
    }

    img:nth-of-type(1) {
        transform: rotate(180deg);
    }
}

.social-link {
    display: flex;
    
    a {
        padding: 8px;
        
        img {
            width: 48px;
        }
    }
}

.top-visual {
    height: 60vh;
    overflow: hidden;
}